@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --gradientOne: #3e7afb;
  --gradientTwo: #64d1ff;
}
/* background gradient START */
.bg-gradient:before {
  left: 60px;
  background: linear-gradient(180deg, #5441fa 0%, #ec5461 100%);
}

.bg-gradient:before,
.bg-gradient:after {
  content: " ";
  position: fixed;
  z-index: -1;
  bottom: -524px;
  width: 300px;
  height: 300px;
  opacity: 0.1;
  filter: blur(50px);
  border-radius: 9999px;
}

.bg-gradient:after {
  right: 60px;
  background: linear-gradient(180deg, #4e4ff5 0%, #3effd1 100%);
}

/* background gradient END */

/* HeroBanner Gradient Start */

.heroGradient {
  background: radial-gradient(140% 107.13% at 50% 10%, transparent 37.41%, #63e 69.27%, #fff 100%);
}

.bgspider {
  background-image: url("/images/backgroundNet.svg");
  background-size: cover;
}

.bgspiders {
  background-image: url("/images/partnerSpiderBg.svg");
  background-size: cover;
}

/* HeroBanner Gradient End */
.marqueLogos {
  height: revert-layer !important;
}
/* DEmo Css */

@media screen and (min-width: 1440px) {
  .lines {
    width: 100%;
  }
}
.lines {
  z-index: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
  position: absolute;
}

#lines-pattern {
  stroke: rgb(99, 99, 249); /* Change stroke color */
  stroke-width: 1; /* Change stroke width */
}

.gradient-border {
  border-image: linear-gradient(#d0d0d000, #d0d0d0, #d0d0d000) 1; /* Use a gradient image for the border */
}
/* DropDown Desktop animatio */
.dropdown:hover .dropdown-content {
  animation: slideDown 0.3s ease-in-out;
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.sliding-text:hover {
  transform: translateX(5px); /* Adjust the value based on your preference */
}
